<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-mixed-widget11
      class="card card-xl-stretch mb-xl-8"
      chartColor="warning"
      chartHeight="200px"
    ></app-mixed-widget11>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body text-center">
        <img src="./assets/media/svg/avatars/009-boy-4.svg" alt="Image Eco Driving" style="width: 75px; margin-bottom: 10px;">
        <h5 class="card-text">{{ data[0]?.EcoDriving }}</h5>
      </div>
    </div>
  </div>
  
  

</div>






<div class="col-xl-15">
  <app-tables-widget3
    class="card card-xl-stretch mb-xl-8"
  ></app-tables-widget3>
</div>

