<div class="row g-5 g-xl-8">
    <div class="col-xl-6">
      <app-mixed-widget11
        class="card card-xl-stretch mb-xl-8"
        chartColor="warning"
        chartHeight="200px"
      ></app-mixed-widget11>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="./assets/media/svg/avatars/009-boy-4.svg" alt="Description de l'image" class="card-img-center" style="width: 75px;">
        <div class="card-body">
          <h5 class="card-title">{{ data[0]?.EcoDriving }}</h5>
          <!-- Ajoutez d'autres éléments de contenu ici -->
        </div>
      </div>
    </div>
  </div>
 
 
 
  
  

  <div class="col-xl-6">
    <app-tables-widget3
      class="card card-xl-stretch mb-xl-8"
    ></app-tables-widget3>
  </div>

