<!-- begin::Header -->
<div class="card-header border-0 pt-5 xl">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Eco Driving KPIS</span>
    <span class="text-muted mt-1 fw-bold fs-7"></span>
  </h3>

  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <i class="fas fa-cog"></i>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->

<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-3">
      <!-- begin::Table head -->
      <thead>
        <tr>
          <th class="p-0 w-50px"></th>
          <th class="p-0 min-w-150px">KPI</th>
          <th class="p-0 min-w-140px">Value</th>
          <th class="p-0 min-w-140px">Classification</th>
          <th class="p-0 min-w-40px"></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let kpi of driverKPIs; let i = index">
          <td>
            <div class="symbol symbol-50px me-2">
              <i class="fas fa-car text-success fa-2x"></i>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                Idling
              </a>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-muted fw-bold">{{ kpi.idling }}</span>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-dark fw-bolder fs-6">{{ data[0]?.idling_classification }}</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr *ngFor="let kpi of driverKPIs; let i = index">
          <td>
            <div class="symbol symbol-50px me-2">
              <i class="fas fa-tachometer-alt text-danger fa-2x"></i>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                High RPM
              </a>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-muted fw-bold">{{ kpi.highRPM }}</span>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-dark fw-bolder fs-6">{{ data[0]?.highRPM_classification }}</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr *ngFor="let kpi of driverKPIs; let i = index">
          <td>
            <div class="symbol symbol-50px me-2">
              <i class="fas fa-gas-pump text-info fa-2x"></i>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                Fuel Consumption
              </a>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-muted fw-bold">{{ kpi.FuelConsumption }}</span>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-dark fw-bolder fs-6">{{ data[0]?.FuelConsumption_classification }}</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr *ngFor="let kpi of driverKPIs; let i = index">
          <td>
            <div class="symbol symbol-50px me-2">
              <i class="fas fa-car-crash text-warning fa-2x"></i>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                Gear Shift Up
              </a>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-muted fw-bold">{{ kpi.GearShiftUp }}</span>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex align-items-center">
              <span class="text-dark fw-bolder fs-6">{{ data[0]?.GearShiftUp_classification }}</span>
            </div>
          </td>
          <td></td>
        </tr>
        <!-- Répétez cette structure pour d'autres KPIs -->
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- end::Body -->
