<!-- app.component.html -->
<h1>Notation des assurés</h1>

<div class="rating">
  <span class="star" [class.selected]="userRating >= 1" (click)="setRating(1)">★</span>
  <span class="star" [class.selected]="userRating >= 2" (click)="setRating(2)">★</span>
  <span class="star" [class.selected]="userRating >= 3" (click)="setRating(3)">★</span>
  <span class="star" [class.selected]="userRating >= 4" (click)="setRating(4)">★</span>
  <span class="star" [class.selected]="userRating >= 5" (click)="setRating(5)">★</span>
</div>

<p>Votre note : <span>{{ userRating }}</span></p>

<style>/* styles.css */
  .star {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
  }
  
  .star.selected {
    color: #ffac00; /* Couleur des étoiles sélectionnées */
  }
  </style>