<!-- Dashboard -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-6Z9wL2RWCV1Q0v7iQRr5z73OpM47BfID1fwCC3Rf8/3tLqXcQ3gAtz+1sC4l7fDZ" crossorigin="anonymous">

<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/users"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
      [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"     
         class="svg-icon svg-icon-2"
      ></span> </span
    ><span class="menu-title">Driver Management </span></a
  >
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/Cards"
    routerLinkActive="active"
    ><span class="menu-icon">
      <i class="fas fa-truck"></i>
      </span
    ><span class="menu-title">Vehicule Managament</span></a
  >
</div>

<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/DriverBehavior"
    routerLinkActive="active"
    ><span class="menu-icon">
      <i class="fas fa-car"></i>
      </span
    ><span class="menu-title">Driver Behavior</span></a
  >
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/crafted/widgets/feeds"
    routerLinkActive="active"
    ><span class="menu-icon">
      <i class="fas fa-leaf"></i>
      </span
    ><span class="menu-title">Eco Driving</span></a
  >
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/Distance"
    routerLinkActive="active"
    ><span class="menu-icon">
      <i class="fas fa-road"></i>
      </span
    ><span class="menu-title">Distance Travelled</span></a
  >
</div>

<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/Dist"
    routerLinkActive="active"
    ><span class="menu-icon">
      <i class="fas fa-car-crash"></i>
      </span
    ><span class="menu-title">Accident</span></a
  >
</div>
<!-- Layout builder -->

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1"
      >Crafted</span
    >
  </div>
</div>



<!-- Errors -->


<!-- Widgets -->
<div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link"
    ><span class="menu-icon"
      ><span
        class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"
      ></span></span
    ><span class="menu-title" data-link="/crafted/widgets">Widgets</span
    ><span class="menu-arrow"></span
  ></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/lists"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lists</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/statistics"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Statistics</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/charts"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Charts</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/mixed"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Mixed</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/tables"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Tables</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/feeds"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Feeds</span></a
      >
    </div>
  </div>
</div>

<!-- Separator -->


<!-- Chat -->


<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>

<!-- Changelog  -->
